*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Robotolight', Arial, sans-serif;
  font-size: 15px;
  color: $dark;
  line-height: 22px;
}
h1,
h2,
h3 {
  font-family: 'Proxima-nova-extra', Arial, sans-serif;
  color: $dark;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: $width-mobile;

  @media (min-width: $tablet) {
    max-width: $width-tablet;
  }

  @media (min-width: $desktop) {
    max-width: $width-desktop;
    padding-right: $pad-desktop;
    padding-left: $pad-desktop;
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: green;
}
