/*  ===== Colors ===== */
$gray: #727777;
$yellow: #ffc65b;
$orange: #fd7e14;
$green: #28a745;
$red: #f3076a;
// $dark: #92a1be;
$dark: #2d4d9969;
$light: #ffffff;
$brown: #736258;
$blue: #0097d3;

/* ===== Sizes ===== */
$tablet: 768px;
$desktop: 1300px;
// width
$width-mobile: 90%;
$width-tablet: 80%;
$width-desktop: 1400px;

// paddings
$pad-mobile: 30px;
$pad-tablet: 50px;
$pad-desktop: 180px;
