/*  ===== Colors ===== */
$light: #ffffff;
$yellow: #eeb45b;
$grey: #ebebeb;
$dark: #000000;

$border-dsh-yellow: 2px dashed $yellow;
$border-dsh-grey: 2px dashed $grey;
$border-dsh-dark: 2px dashed $dark;

/* ===== Sizes ===== */
$tablet: 768px;
$desktop: 1300px;
// width
$width-mobile: 90%;
$width-tablet: 80%;
$width-desktop: 1400px;

// paddings
$pad-mobile: 30px;
$pad-tablet: 50px;
$pad-desktop: 180px;
