.form {
  &__label {
    display: flex;
    flex-direction: column;
    color: $dark;
  }

  &__input {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px 15px;

    @include font('Robotolight', 16px, 22px);
    border: solid 2px $dark;
    border-radius: 10px;
    resize: none;

    &::placeholder {
      color: $dark;
      text-indent: 0;
      transition: text-indent 0.3s ease;
    }
    &:hover,
    &:focus {
      outline: 0;
      border: $border-dsh-yellow;
    }

    &:focus::placeholder,
    &:hover::placeholder {
      text-indent: -200px;
      transition: text-indent 0.5s ease;
    }
  }

  &__error {
    margin: 10px 0 20px 0;
  }
}
