.hamburger {
  @include center();
  height: inherit;
  width: 100px;
  background-color: $dark;
  cursor: pointer;

  &__icon {
    position: relative;
    overflow: visible;
    background-color: #fff;
  }

  &__line {
    display: block;
    width: 2rem;
    height: 4px;
    background-color: #fff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: inherit;
      height: inherit;
      background-color: inherit;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }
}
