.hamburger {
  @include center();
  height: inherit;
  width: 100px;
  background-color: $dark;

  &__icon {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background-color: inherit;
    cursor: pointer;

    &:hover {
      .hamburger__line {
        background-color: $yellow;
      }
    }
  }

  &__line {
    position: absolute;
    left: calc(50% - 40px / 2);
    width: 40px;
    height: 4px;
    background-color: $light;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: inherit;
      height: inherit;
      background-color: inherit;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }
}
