.logo {
  @include center();
  min-width: 200px;
  z-index: 2;
  background-color: $yellow;

  h1 {
    color: white;
  }

  &__link,
  &__button {
    padding-left: 20px;
    padding-right: 20px;
    color: $light;
  }

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
