.usermenu {
  position: fixed;
  top: 100px;
  left: 0;
  height: 100%;
  z-index: 1;
  background-color: $grey;
  transition: all 0.5s;

  &__drawer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    transform: translateX(-200px);
    transition: all 0.5s ease-in-out;

    &--active {
      transform: translateX(0);
    }
  }
}
